<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CaseStudy_ALS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servlet_login</display-name>
    <servlet-name>servlet_login</servlet-name>
    <servlet-class>login.servlet_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_login</servlet-name>
    <url-pattern>/servlet_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_reset</display-name>
    <servlet-name>servlet_reset</servlet-name>
    <servlet-class>login.servlet_reset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_reset</servlet-name>
    <url-pattern>/servlet_reset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_bookRequest</display-name>
    <servlet-name>servlet_bookRequest</servlet-name>
    <servlet-class>book.servlet_bookRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_bookRequest</servlet-name>
    <url-pattern>/servlet_bookRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_bookReturn</display-name>
    <servlet-name>servlet_bookReturn</servlet-name>
    <servlet-class>book.servlet_bookReturn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_bookReturn</servlet-name>
    <url-pattern>/servlet_bookReturn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_bookSearch</display-name>
    <servlet-name>servlet_bookSearch</servlet-name>
    <servlet-class>book.servlet_bookSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_bookSearch</servlet-name>
    <url-pattern>/servlet_bookSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_memberRegistration</display-name>
    <servlet-name>servlet_memberRegistration</servlet-name>
    <servlet-class>login.servlet_memberRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_memberRegistration</servlet-name>
    <url-pattern>/servlet_memberRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_newBookDetails</display-name>
    <servlet-name>servlet_newBookDetails</servlet-name>
    <servlet-class>book.servlet_newBookDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_newBookDetails</servlet-name>
    <url-pattern>/servlet_newBookDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_report</display-name>
    <servlet-name>servlet_report</servlet-name>
    <servlet-class>report.servlet_report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_report</servlet-name>
    <url-pattern>/servlet_report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_payment</display-name>
    <servlet-name>servlet_payment</servlet-name>
    <servlet-class>payment.servlet_payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_payment</servlet-name>
    <url-pattern>/servlet_payment</url-pattern>
  </servlet-mapping>
</web-app>